 <div class="container-fluid mb-2">
     <div class="footer-container">
         <div class="row justify-content-center">
             <div class="col-lg-4 col-md-12 col-sm-12">
                 <img src="/images/logo.png" alt="" width="200px" height="100px">
                 <h1 class="footer-heading mt-4">
                     Join Our Library Community
                 </h1>
                 <p class="footer-text mt-4">
                     Log in to explore and contribute to our growing collection of books. Share your favorite reads, discover new titles, and be part of a platform built for book lovers by book lovers.
                 </p>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                 <div class="p-5">
                     <h1 class="footer-heading">Quick Links</h1>
                     <ul class="footer-list-container">
                         <a href="/" class="gallery-clickable-content">
                             <li class="pt-3 footer-list">Home</li>
                         </a>
                         <a href="/add-book" class="gallery-clickable-content">
                             <li class="pt-3 footer-list">Add Book</li>
                         </a>

                         <a href="/my-books" class="gallery-clickable-content">
                             <li class="pt-3 footer-list">My Books</li>
                         </a>
                         <a href="/login" class="gallery-clickable-content">
                             <li class="pt-3 footer-list">Login</li>
                         </a>
                         <a href="/signup" class="gallery-clickable-content">
                             <li class="pt-3 footer-list">Signup</li>
                         </a>
                     </ul>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                 <div class="p-5">
                     <h1 class="footer-heading">Categories</h1>
                     <ul class="footer-list-container">
                         <a href="/categories/fiction" class="gallery-clickable-content">
                             <li class="pt-3 footer-list">Fiction</li>
                         </a>
                          <a href="/categories/children" class="gallery-clickable-content">
                             <li class="pt-3 footer-list">Children</li>
                         </a>
                         <a href="/categories/history" class="gallery-clickable-content">
                             <li class="pt-3 footer-list">History</li>
                         </a>
                         <a href="/categories/biography" class="gallery-clickable-content">
                             <li class="pt-3 footer-list">Biography</li>
                         </a>
                         <a href="/categories/arts" class="gallery-clickable-content">
                             <li class="pt-3 footer-list">Arts</li>
                         </a>
                         <a href="/categories/all" class="gallery-clickable-content">
                             <li class="pt-3 footer-list">All</li>
                         </a>
                     </ul>
                 </div>
             </div>
         </div>

         <div class="text-center mt-5">
             <h1 class="footer-text">@Copyright 2025 - Zunera Kamran 23-ARID-874</h1>
         </div>
     </div>
 </div>